.authLayout-container {
  position: relative;
}

.authLayout_sidebar {
  display: none;
  width: 100%;
  position: fixed;
  @apply w-full h-screen overflow-y-auto hidden transform top-0 left-0 overflow-auto ease-in-out transition-all duration-300 text-gray-700 z-10 xl:flex flex-col justify-start items-center md:rounded-r-xl pt-5 pb-10 border-r-2 border-gray-100;
}

@media screen and (min-width: 1040px) {
  .authLayout-container {
    display: grid;
    /* grid-template-columns: 250px minmax(0,1fr); */
  }

  .authLayout_sidebar {
    position: sticky;
  }
}

/* images zoom background */

[data-rmiz-modal-overlay="visible"] {
  backdrop-filter: blur(6px);
  background-color: hsl(var(--background) / 74%);
}

[data-rmiz-btn-unzoom-icon="true"] {
  color: black;
}

.dark [data-rmiz-btn-unzoom-icon="true"] {
  color: white;
}

/* padding scrollarea into modals */

div[role="dialog"] div[data-radix-scroll-area-viewport] > div {
  padding: 0px 6px;
}